nav {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}
/* Ссылки справа в nav*/
.btn-head a {
  align-items: center;
  justify-content: center;
  float: left;
  text-align: center;
  margin-top: 3%;
  padding: 1%;
  text-decoration: none;
  cursor: grab;
  color: #fff;
  /*текст*/
  font-family: "Roboto";
  font-size: 14px; /*размер шрифта*/
  letter-spacing: 1.5px; /*м-ду строками разрыв*/
  word-spacing: 1.5px; /*м-ду словами*/
  font-weight: normal; /*стиль слов (обычный,жирный,супер-жирный)*/
  text-decoration: none; /*отвечает за ссылки(в данном случае убирает подчеркивание)*/
  font-style: normal; /*font-style указывает курсивный или прямой шрифт использовать*/
  font-variant: normal; /*font-variant определяет использование малых капителей или изменённых форм*/
  text-transform: none; /*text-transform изменяет регистр текста (может делать его заглавными буквами или наоборот*/
}

/*Выпадющий список*/
.list-list {
  display: flex;
  justify-content: left;
  width: 5%;
  height: 5%;
  padding-left: 1%;
  padding-top: 0.5%;
}
/*Кнопка выпадающего списка */
.list-list button {
  width: 55%;
  height: 55%;
  border-radius: 15%;
  color: #fff;
  text-align: center;
}
/*уведомление канвас*/
.notif {
  margin-left: 5%;
  margin-top: 0.5%;
}
/*колокольчик*/
.bell{
  margin-right: 15%;
/*сообщение*/
}
.messeg{
  margin-right: 35%;
}
/*Поисковое окошко*/
.search-header{
  padding-top: 0.5%;
  margin-left: 25%;

}

/*Канвас svg*/
.notif svg {
  color: #f5f5f5;
}
/*Канвас img*/
.notif img{
  width: 85%;
}
/*ссылки в nav*/
.btn-head {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 25%;
}

/*фото профиля*/
.photo-profile {
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: 5px;
  /* border-radius: 50px; */
  padding-right: 5px;
  padding-top: 5px;
}
/*Отностися к фото профиля,скругляет углы и все*/
.photo-profile img {
  border-radius: 50px;
}
/*Отвечает за name address*/
.user-ifno {
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: start;
}
.name-address {
  width: 3%;
  float: left;
}
/*Класс отвечает за маленькую стрелку в правой части хедера*/
.baby-arrow {
  display: flex;
  padding-left: 20%;
  padding-bottom: 8px;
}
/*отвечает за Name */
.name {
  margin-bottom: 0px;
  /*Текст*/
  font-family: "Roboto";
  font-size: 20px; /*размер шрифта*/
  letter-spacing: 1.5px; /*м-ду строками разрыв*/
  font-weight: bold; /*стиль слов (обычный,жирный,супер-жирный)*/
  text-transform: none; /*text-transform изменяет регистр текста (может делать его заглавными буквами или наоборот*/
  color: #f5f5f5;
}
.address {
  font-family: "Roboto";
  font-size: 14px; /*размер шрифта*/
  letter-spacing: 2px; /*м-ду строками разрыв*/
  font-weight: normal; /*стиль слов (обычный,жирный,супер-жирный)*/
  text-transform: none; /*text-transform изменяет регистр текста (может делать его заглавными буквами или наоборот*/
}

